.container_loading {
    width: 100%;
    margin-top: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.container_loading > img {
    width:100px;
}